*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'arial', sans-serif;
} 
body{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* MENU */

#menu{
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px;
    background: rgb(43 38 87 / 50%);
    align-items: center;
    height: 60px;
    position: fixed;
    width: 100%;
}
#menu p{
    color: #FFFFFF;
    margin: 0 20px;
}
.opciones{
    display: flex;
    list-style-type: none;
}
.opciones li{
    padding: 0 20px;
    cursor: pointer;
    color: #FFFFFF
}
.opciones li:hover{
    color:#FCA311;
}

/* PERFIL */
#perfil {
    background-image: url(./imagenees/fondo.PNG);
    background-size: cover;
    background-position-x: right;
    background-attachment: fixed;
    height: 900px;
    display: flex;
    align-items: center;
}
#perfil div{
    margin-left: 10%;
    padding: 15px;
    width: 400px;
}

/* DESCRIPCION */
#descripcion{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0px;
}
#descripcion div{
    width: 70%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
}
#descripcion p{
    background: #0A111F;
    color: #FFFFFF;
    padding: 40px;
    position: relative;
    top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btnCurrriculum{
    border: solid 1px #FCA311;
    padding: 10px;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
}
.btnCurrriculum:hover{
    background-color: #FCA311;
    color: #0A111F;
}
#descripcion img{
    width: 400px;
}

/* DIPLOMAS */
#diplomas {
    background-image: url(./imagenees/fondoDiplomas.jpg);
    background-size: cover;
    background-position-x: right;
    background-attachment: fixed;
    padding-top: 200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#diplomas img{
    width: 400px;
    margin: 10px;
}